In [ ]:
# pip install imodels

In [ ]:
import pandas as pd
import numpy as np
import datetime
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import r2_score, mean_absolute_error, accuracy_score, roc_auc_score
from sklearn.metrics import mean_squared_error
from datetime import datetime
from datetime import timedelta
from imodels.importance import RandomForestPlusRegressor, RandomForestPlusClassifier, \
    RidgeRegressorPPM, LassoRegressorPPM, IdentityTransformer
from imodels.importance.rf_plus import _fast_r2_score

In [2]:
import multiprocessing
multiprocessing.cpu_count()

12

In [2]:
data = pd.read_csv('PRSA_data_2010.1.1-2014.12.31_1.csv', header=0)

In [17]:
data
data = data.dropna()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,SE,1.79,0,0
25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,SE,2.68,0,0
26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,SE,3.57,0,0
27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,SE,5.36,1,0
28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,SE,6.25,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [8]:
data = pd.get_dummies(data)

In [9]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,1.79,0,0,0,0,1,0
25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,2.68,0,0,0,0,1,0
26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,3.57,0,0,0,0,1,0
27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,5.36,1,0,0,0,1,0
28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,6.25,2,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,231.97,0,0,0,1,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,237.78,0,0,0,1,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,242.70,0,0,0,1,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,246.72,0,0,0,1,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,249.85,0,0,0,1,0,0

In [10]:
train_data_by_month, test_data_by_month = {}, {}
train_data_by_year, test_data_by_year = {}, {}

# Splitting data for each month (month-year combination) separately
for year in data['year'].unique():
    for month in data['month'].unique():
        month_year_data = data[(data['year'] == year) & (data['month'] == month)]
        train_data_by_month[(year, month)], test_data_by_month[(year, month)] = train_test_split(month_year_data,
                                                                                                 test_size=0.2, random_state=12345)

# Combine the monthly splits into yearly splits
for year in data['year'].unique():
    yearly_train_data = pd.concat([train_data_by_month[(year, month)] for month in data['month'].unique()])
    yearly_test_data = pd.concat([test_data_by_month[(year, month)] for month in data['month'].unique()])
    train_data_by_year[year] = yearly_train_data
    test_data_by_year[year] = yearly_test_data

# Combine all monthly splits into a single dataset for full range modeling
train_data_full = pd.concat(train_data_by_month.values())
test_data_full = pd.concat(test_data_by_month.values())

In [11]:
train_data_by_month.items()

dict_items([((2010, 1),       No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
620  621  2010      1   26    20  274.0   -11  -5.0  1020.0    0.89   0   0
367  368  2010      1   16     7  114.0   -15 -11.0  1034.0    4.47   0   0
627  628  2010      1   27     3  213.0   -11  -4.0  1016.0   10.29   0   0
90    91  2010      1    4    18   28.0   -23 -11.0  1032.0  165.37   0   0
178  179  2010      1    8    10  135.0   -17 -10.0  1030.0    0.89   0   0
..   ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
444  445  2010      1   19    12  301.0    -5   1.0  1020.0    0.89   0   0
153  154  2010      1    7     9   27.0   -23 -12.0  1036.0    8.94   0   0
309  310  2010      1   13    21   95.0   -19 -13.0  1027.0    0.89   0   0
509  510  2010      1   22     5   15.0   -20  -7.0  1035.0   48.27   0   0
506  507  2010      1   22     2   26.0   -21  -5.0  1037.0   27.26   0   0

     cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
620        1        0        0        0
367        0        1        0        0
627        0        1        0        0
90         0        1        0        0
178        1        0        0        0
..       ...      ...      ...      ...
444        0        0        0        1
153        0        1        0        0
309        0        0        0        1
509        0        1        0        0
506        0        1        0        0

[522 rows x 16 columns]), ((2010, 2),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
1407  1408  2010      2   28    15   13.0   -14   3.0  1022.0   7.15   0   0
1122  1123  2010      2   16    18  159.0   -13  -1.0  1026.0  18.32   0   0
769    770  2010      2    2     1   56.0   -11  -8.0  1028.0   0.89   0   0
1249  1250  2010      2   22     1  136.0    -5   0.0  1021.0   1.34   0   0
1252  1253  2010      2   22     4  100.0    -8  -3.0  1021.0   6.71   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
1165  1166  2010      2   18    13   19.0   -21   5.0  1022.0   5.81   0   0
873    874  2010      2    6     9   65.0   -12  -6.0  1033.0   1.79   1   0
1029  1030  2010      2   12    21   58.0   -18  -6.0  1032.0   1.34   0   0
1230  1231  2010      2   21     6  206.0    -8  -5.0  1011.0   7.60   0   0
1227  1228  2010      2   21     3  235.0    -6  -2.0  1011.0   0.89   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
1407        0        1        0        0
1122        0        0        1        0
769         0        0        0        1
1249        0        0        0        1
1252        0        0        1        0
...       ...      ...      ...      ...
1165        0        1        0        0
873         0        0        1        0
1029        0        0        0        1
1230        0        1        0        0
1227        0        1        0        0

[536 rows x 16 columns]), ((2010, 3),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
1994  1995  2010      3   25     2   43.0    -1   1.0  1028.0  16.09   0   0
1602  1603  2010      3    8    18   56.0    -8  -3.0  1039.0   8.05   0   0
2044  2045  2010      3   27     4  127.0    -4   4.0  1024.0   4.92   0   0
1600  1601  2010      3    8    16   43.0    -7  -2.0  1039.0   1.79   0   0
1944  1945  2010      3   23     0   28.0   -10   7.0  1022.0   4.02   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
1836  1837  2010      3   18    12  179.0    -3   2.0  1021.0   1.79   0   0
1545  1546  2010      3    6     9   23.0   -22  -3.0  1036.0  80.91   0   0
1701  1702  2010      3   12    21   54.0    -8   0.0  1023.0   0.89   0   0
1903  1904  2010      3   21     7   41.0    -5   0.0  1017.0   1.78   0   0
1900  1901  2010      3   21     4   47.0    -6   0.0  1016.0   3.58   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
1994        0        0        1        0
1602        0        1        0        0
2044        0        0        1        0
1600        0        1        0        0
1944        0        1        0        0
...       ...      ...      ...      ...
1836        0        0        1        0
1545        1        0        0        0
1701        1        0        0        0
1903        0        0        0        1
1900        0        0        1        0

[567 rows x 16 columns]), ((2010, 4),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
2296  2297  2010      4    6    16   17.0   -17  16.0  1023.0   18.77   0   0
2184  2185  2010      4    2     0   27.0    -7   2.0  1018.0    0.89   0   0
2312  2313  2010      4    7     8   78.0    -5   6.0  1025.0    0.89   0   0
2416  2417  2010      4   11    16   50.0     1   8.0  1015.0    1.79   0   0
2800  2801  2010      4   27    16   31.0    -9  13.0  1006.0  164.51   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
2582  2583  2010      4   18    14  229.0     6  19.0  1011.0    1.79   0   0
2291  2292  2010      4    6    11   16.0   -17  13.0  1027.0   62.13   0   0
2447  2448  2010      4   12    23    7.0   -14   4.0  1025.0  156.46   0   0
2647  2648  2010      4   21     7   47.0     2  12.0  1023.0    4.02   0   1
2644  2645  2010      4   21     4   30.0    -1  12.0  1022.0    0.89   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
2296        0        1        0        0
2184        0        0        1        0
2312        0        0        0        1
2416        0        1        0        0
2800        0        1        0        0
...       ...      ...      ...      ...
2582        0        0        0        1
2291        0        1        0        0
2447        0        1        0        0
2647        0        1        0        0
2644        0        1        0        0

[574 rows x 16 columns]), ((2010, 5),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
3027  3028  2010      5    7     3   57.0     4  19.0  1003.0  37.99   0   0
3454  3455  2010      5   24    22   28.0     3  20.0  1007.0   7.15   0   0
3598  3599  2010      5   30    22   83.0    15  21.0  1012.0   3.13   0   1
3356  3357  2010      5   20    20   43.0    -1  30.0  1005.0  36.65   0   0
3239  3240  2010      5   15    23  113.0    11  21.0  1013.0  25.92   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
3302  3303  2010      5   18    14   64.0     7  24.0   999.0   7.15   0   0
3009  3010  2010      5    6     9   19.0     2  19.0  1009.0  32.62   0   0
3165  3166  2010      5   12    21   43.0     6  18.0  1017.0  34.87   0   0
3367  3368  2010      5   21     7  105.0    12  20.0  1008.0   2.23   0   0
3364  3365  2010      5   21     4  101.0    12  19.0  1007.0  57.22   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
3027        0        0        1        0
3454        0        1        0        0
3598        0        0        1        0
3356        0        0        1        0
3239        0        0        1        0
...       ...      ...      ...      ...
3302        0        0        1        0
3009        0        1        0        0
3165        0        0        1        0
3367        0        0        0        1
3364        0        0        1        0

[589 rows x 16 columns]), ((2010, 6),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
4216  4217  2010      6   25    16  107.0    14  31.0  1006.0  11.17   0   0
4132  4133  2010      6   22     4  135.0    18  25.0  1001.0   4.92   0   0
4192  4193  2010      6   24    16   38.0    12  33.0  1006.0  22.35   0   0
4117  4118  2010      6   21    13   91.0    17  30.0  1003.0   1.78   0   0
3859  3860  2010      6   10    19   77.0    15  22.0  1012.0  18.33   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
4199  4200  2010      6   24    23   98.0    14  23.0  1008.0   0.89   0   0
3882  3883  2010      6   11    18   95.0    15  24.0  1010.0  11.63   0   0
4038  4039  2010      6   18     6   41.0    17  19.0  1003.0   1.79   0   0
4264  4265  2010      6   27    16  111.0    16  32.0  1001.0  12.97   0   0
4261  4262  2010      6   27    13  120.0    15  29.0  1003.0   1.79   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
4216        0        0        1        0
4132        0        0        1        0
4192        0        0        1        0
4117        0        0        0        1
3859        0        0        1        0
...       ...      ...      ...      ...
4199        0        0        0        1
3882        0        0        1        0
4038        0        1        0        0
4264        0        0        1        0
4261        0        0        0        1

[452 rows x 16 columns]), ((2010, 7),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
4782  4783  2010      7   19     6  258.0    23  26.0  1007.0  52.31   0   0
4560  4561  2010      7   10     0   31.0    20  21.0  1006.0   1.79   0  10
4401  4402  2010      7    3     9   77.0    21  29.0  1001.0   1.79   0   0
4448  4449  2010      7    5     8   35.0    13  31.0  1003.0  16.98   0   0
4491  4492  2010      7    7     3   35.0    14  25.0  1003.0   1.78   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
4764  4765  2010      7   18    12  149.0    23  32.0  1006.0   1.79   0   0
4473  4474  2010      7    6     9   27.0     8  34.0  1002.0   3.13   0   0
4629  4630  2010      7   12    21  185.0    21  23.0  1008.0   1.79   0   1
4829  4830  2010      7   21     5   92.0    20  22.0  1006.0   0.89   0   0
4826  4827  2010      7   21     2   75.0    21  23.0  1006.0  36.19   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
4782        0        0        1        0
4560        0        1        0        0
4401        0        0        1        0
4448        0        1        0        0
4491        0        0        0        1
...       ...      ...      ...      ...
4764        0        0        1        0
4473        1        0        0        0
4629        0        1        0        0
4829        0        1        0        0
4826        0        0        1        0

[595 rows x 16 columns]), ((2010, 8),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
5142  5143  2010      8    3     6  154.0    18  22.0  1003.0    1.79   0   0
5136  5137  2010      8    3     0   74.0    16  25.0  1005.0   22.36   0   0
5617  5618  2010      8   23     1   61.0    18  20.0  1014.0    1.78   0   0
5371  5372  2010      8   12    19   53.0    23  29.0   999.0   16.98   0   0
5380  5381  2010      8   13     4   75.0    24  26.0  1000.0   13.42   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
5576  5577  2010      8   21     8   53.0    21  22.0  1012.0    1.79   0   3
5217  5218  2010      8    6     9   23.0    13  25.0  1017.0  159.59   0   0
5373  5374  2010      8   12    21   83.0    23  27.0  1001.0   20.56   0   0
5641  5642  2010      8   24     1  166.0    20  22.0  1014.0   24.60   0   0
5638  5639  2010      8   23    22  169.0    21  23.0  1014.0   17.89   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
5142        1        0        0        0
5136        0        0        1        0
5617        0        0        0        1
5371        0        0        1        0
5380        0        0        1        0
...       ...      ...      ...      ...
5576        0        1        0        0
5217        0        1        0        0
5373        0        0        1        0
5641        0        0        1        0
5638        0        0        1        0

[540 rows x 16 columns]), ((2010, 9),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  Ir  \
6288  6289  2010      9   20     0   84.0    15  18.0  1011.0   3.58   0   0
5976  5977  2010      9    7     0  226.0    22  24.0  1011.0   1.79   0   0
6307  6308  2010      9   20    19   34.0    15  17.0  1013.0  13.86   0   1
5932  5933  2010      9    5     4  103.0    18  20.0  1012.0   0.89   0   0
5933  5934  2010      9    5     5  100.0    18  20.0  1012.0   1.78   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..  ..
6230  6231  2010      9   17    14   24.0    14  15.0  1013.0  16.54   0  18
6273  6274  2010      9   19     9   73.0    15  19.0  1015.0  10.29   0   0
6268  6269  2010      9   19     4   55.0    13  15.0  1014.0   1.79   0   0
5961  5962  2010      9    6     9  150.0    20  25.0  1011.0   1.79   0   0
6133  6134  2010      9   13    13  141.0    17  32.0  1011.0   5.35   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
6288        0        0        1        0
5976        1        0        0        0
6307        1        0        0        0
5932        0        0        0        1
5933        0        0        0        1
...       ...      ...      ...      ...
6230        1        0        0        0
6273        0        1        0        0
6268        1        0        0        0
5961        0        1        0        0
6133        0        0        0        1

[374 rows x 16 columns]), ((2010, 10),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
6609  6610  2010     10    3     9   12.0     0  18.0  1017.0  174.34   0   0
6656  6657  2010     10    5     8   52.0    11  14.0  1016.0   12.97   0   0
6699  6700  2010     10    7     3  449.0    12  13.0  1014.0    1.78   0   0
7006  7007  2010     10   19    22   92.0     7   9.0  1029.0    4.47   0   0
7270  7271  2010     10   30    22   68.0     3   7.0  1026.0    1.78   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
6974  6975  2010     10   18    14   79.0     5   6.0  1025.0   12.97   0   2
6681  6682  2010     10    6     9  198.0    14  17.0  1014.0    0.89   0   0
6839  6840  2010     10   12    23  154.0     8  11.0  1020.0    1.78   0   0
7039  7040  2010     10   21     7  100.0     8   9.0  1023.0    0.89   0   0
7036  7037  2010     10   21     4  101.0     8   9.0  1024.0    1.78   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
6609        0        1        0        0
6656        0        1        0        0
6699        1        0        0        0
7006        0        0        1        0
7270        0        0        0        1
...       ...      ...      ...      ...
6974        0        1        0        0
6681        0        0        0        1
6839        0        0        0        1
7039        0        1        0        0
7036        0        1        0        0

[593 rows x 16 columns]), ((2010, 11),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
7630  7631  2010     11   14    22   11.0    -8   0.0  1035.0  212.86   0   0
7894  7895  2010     11   25    22  177.0   -10  -2.0  1024.0    6.25   0   0
8004  8005  2010     11   30    12  256.0     0   1.0  1019.0    2.67   0   0
7375  7376  2010     11    4     7   56.0    -2   5.0  1023.0   21.02   0   0
7705  7706  2010     11   18     1  446.0    -2   0.0  1021.0    1.79   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
7770  7771  2010     11   20    18  280.0     1   7.0  1010.0    0.45   0   0
7479  7480  2010     11    8    15    8.0   -12  11.0  1025.0   47.39   0   0
7635  7636  2010     11   15     3   17.0    -8   0.0  1035.0  221.81   0   0
7837  7838  2010     11   23    13  213.0    -8   7.0  1019.0    1.79   0   0
7834  7835  2010     11   23    10  213.0    -8   3.0  1021.0    1.78   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
7630        0        1        0        0
7894        1        0        0        0
8004        0        0        0        1
7375        0        1        0        0
7705        0        1        0        0
...       ...      ...      ...      ...
7770        0        0        0        1
7479        0        1        0        0
7635        0        1        0        0
7837        0        0        1        0
7834        0        0        0        1

[531 rows x 16 columns]), ((2010, 12),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
8454  8455  2010     12   19     6  133.0   -12  -3.0  1014.0    1.79   0   0
8232  8233  2010     12   10     0  230.0    -7  -2.0  1004.0   10.29   0   0
8073  8074  2010     12    3     9  107.0   -11  -3.0  1025.0    1.79   0   0
8120  8121  2010     12    5     8  113.0    -8   2.0  1016.0   28.61   0   0
8163  8164  2010     12    7     3   43.0   -18   1.0  1023.0    3.13   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
8436  8437  2010     12   18    12  206.0   -13   3.0  1012.0    1.79   0   0
8145  8146  2010     12    6     9   15.0   -18   0.0  1035.0  193.97   0   0
8301  8302  2010     12   12    21  140.0    -7   0.0  1023.0    2.23   0   0
8501  8502  2010     12   21     5  367.0   -10  -5.0  1013.0    1.79   0   0
8498  8499  2010     12   21     2  391.0   -10  -4.0  1014.0    3.57   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
8454        0        1        0        0
8232        0        1        0        0
8073        0        0        1        0
8120        0        1        0        0
8163        0        0        1        0
...       ...      ...      ...      ...
8436        0        1        0        0
8145        0        1        0        0
8301        0        0        0        1
8501        0        1        0        0
8498        1        0        0        0

[595 rows x 16 columns]), ((2011, 1),         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
9492  9493  2011      1   31    12   23.0   -21   6.0  1029.0   26.37   0   0
9474  9475  2011      1   30    18   16.0   -21   2.0  1031.0  198.93   0   0
9379  9380  2011      1   26    19  103.0   -19  -7.0  1038.0    3.57   0   0
9274  9275  2011      1   22    10   54.0   -17  -4.0  1029.0    4.02   0   0
8809  8810  2011      1    3     1   78.0   -15  -6.0  1033.0    1.78   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
9252  9253  2011      1   21    12   29.0   -20  -1.0  1028.0    3.13   0   0
8913  8914  2011      1    7     9   24.0   -18  -5.0  1034.0   17.43   0   0
9117  9118  2011      1   15    21   17.0   -25  -8.0  1038.0    1.79   0   0
9317  9318  2011      1   24     5   23.0   -22 -11.0  1034.0    1.79   0   0
9314  9315  2011      1   24     2   11.0   -21 -10.0  1034.0  268.68   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
9492        0        1        0        0
9474        0        1        0        0
9379        1        0        0        0
9274        1        0        0        0
8809        1        0        0        0
...       ...      ...      ...      ...
9252        0        1        0        0
8913        0        1        0        0
9117        0        0        1        0
9317        0        1        0        0
9314        0        1        0        0

[537 rows x 16 columns]), ((2011, 2),           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  \
10164  10165  2011      2   28    12   13.0   -11   4.0  1028.0  33.98   0
10146  10147  2011      2   27    18   28.0    -8   1.0  1026.0  63.01   0
10051  10052  2011      2   23    19  436.0    -4   3.0  1013.0   4.92   0
9946    9947  2011      2   19    10  138.0   -11   3.0  1025.0  27.71   0
9529    9530  2011      2    2     1   73.0   -19  -4.0  1021.0   0.89   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..
9924    9925  2011      2   18    12   50.0   -15   5.0  1028.0   1.79   0
9633    9634  2011      2    6     9   54.0   -12   2.0  1023.0   3.13   0
9789    9790  2011      2   12    21   41.0   -13  -4.0  1030.0  24.59   0
9989    9990  2011      2   21     5  563.0    -5  -2.0  1025.0   0.89   0
9986    9987  2011      2   21     2  493.0    -5  -3.0  1026.0   0.45   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv

In [12]:
test_data_by_month.keys()

dict_keys([(2010, 1), (2010, 2), (2010, 3), (2010, 4), (2010, 5), (2010, 6), (2010, 7), (2010, 8), (2010, 9), (2010, 10), (2010, 11), (2010, 12), (2011, 1), (2011, 2), (2011, 3), (2011, 4), (2011, 5), (2011, 6), (2011, 7), (2011, 8), (2011, 9), (2011, 10), (2011, 11), (2011, 12), (2012, 1), (2012, 2), (2012, 3), (2012, 4), (2012, 5), (2012, 6), (2012, 7), (2012, 8), (2012, 9), (2012, 10), (2012, 11), (2012, 12), (2013, 1), (2013, 2), (2013, 3), (2013, 4), (2013, 5), (2013, 6), (2013, 7), (2013, 8), (2013, 9), (2013, 10), (2013, 11), (2013, 12), (2014, 1), (2014, 2), (2014, 3), (2014, 4), (2014, 5), (2014, 6), (2014, 7), (2014, 8), (2014, 9), (2014, 10), (2014, 11), (2014, 12)])

In [13]:
rf_regressor = RandomForestRegressor(n_estimators=50,min_samples_leaf=3,
                                     random_state=331,n_jobs=-1)
rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)

In [14]:
training_results = {}
testing_results = {}
prediction_vectors = pd.DataFrame()
col_drop = ['pm2.5', 'No', 'month']
for (year, month), train_data in train_data_by_month.items():
    test_data = test_data_by_month[(year, month)]


    X_train = train_data.drop(col_drop, axis=1)
    y_train = train_data['pm2.5'].to_numpy()
    X_test = test_data.drop(col_drop, axis=1)
    y_test = test_data['pm2.5'].to_numpy()
    
    # Initialize RF+
    rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
    rf_plus_model.fit(X_train, y_train)
    
    # predictions
    train_pred = rf_plus_model.predict(X_train)
    test_pred = rf_plus_model.predict(X_test)

    # Calculate RMSE
    train_rmse = mean_squared_error(y_train, train_pred, squared=False)
    test_rmse = mean_squared_error(y_test, test_pred, squared=False)
    training_results[(year, month)] = train_rmse
    testing_results[(year, month)] = test_rmse

    # store in dataframe
    train_df = pd.DataFrame({'Year': year, 'Month': month, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
    test_df = pd.DataFrame({'Year': year, 'Month': month, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})

    # Concatenate with the main DataFrame
    prediction_vectors = pd.concat([prediction_vectors, train_df, test_df])

    # Print results for each month
    print(f"Year: {year}, Month: {month}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

# Results include: training_results, testing_results, and prediction_vectors

Year: 2010, Month: 1, Training RMSE: 23.424707693696778, Testing RMSE: 33.12501920908587
Year: 2010, Month: 2, Training RMSE: 38.19839122688131, Testing RMSE: 32.28752616064923
Year: 2010, Month: 3, Training RMSE: 37.9394502114286, Testing RMSE: 28.094626162462987
Year: 2010, Month: 4, Training RMSE: 14.375163682205523, Testing RMSE: 17.58771969301951
Year: 2010, Month: 5, Training RMSE: 17.651176321054873, Testing RMSE: 31.997085252466118
Year: 2010, Month: 6, Training RMSE: 17.41254568148024, Testing RMSE: 26.651151363765887
Year: 2010, Month: 7, Training RMSE: 22.30514150697771, Testing RMSE: 35.26171357348102
Year: 2010, Month: 8, Training RMSE: 21.45941002453309, Testing RMSE: 30.702619434067007
Year: 2010, Month: 9, Training RMSE: 24.520077316650685, Testing RMSE: 37.76067950648548
Year: 2010, Month: 10, Training RMSE: 22.722853305048787, Testing RMSE: 29.301741131613642
Year: 2010, Month: 11, Training RMSE: 34.55409011383064, Testing RMSE: 48.54930327537121
Year: 2010, Month: 12, Training RMSE: 26.23554101098068, Testing RMSE: 33.61398772731511
Year: 2011, Month: 1, Training RMSE: 16.35046360923468, Testing RMSE: 27.965844820430412
Year: 2011, Month: 2, Training RMSE: 31.538973541367717, Testing RMSE: 40.44028456752526
Year: 2011, Month: 3, Training RMSE: 17.24905884582534, Testing RMSE: 18.498768716713894
Year: 2011, Month: 4, Training RMSE: 23.29102075866275, Testing RMSE: 34.43766433939237
Year: 2011, Month: 5, Training RMSE: 15.845548223829182, Testing RMSE: 24.273412332778705
Year: 2011, Month: 6, Training RMSE: 25.64387376278841, Testing RMSE: 35.03625820454571
Year: 2011, Month: 7, Training RMSE: 17.947213859531843, Testing RMSE: 33.74383040581935
Year: 2011, Month: 8, Training RMSE: 13.696367154956649, Testing RMSE: 25.23184066603213
Year: 2011, Month: 9, Training RMSE: 16.733001179702953, Testing RMSE: 28.286409881536287
Year: 2011, Month: 10, Training RMSE: 27.512908822096847, Testing RMSE: 34.42210975686612
Year: 2011, Month: 11, Training RMSE: 21.712085387293566, Testing RMSE: 40.37808890406057
Year: 2011, Month: 12, Training RMSE: 30.84376820669694, Testing RMSE: 35.226277469377436
Year: 2012, Month: 1, Training RMSE: 46.105127661290176, Testing RMSE: 41.551747372628604
Year: 2012, Month: 2, Training RMSE: 21.38725020344679, Testing RMSE: 29.37022596669929
Year: 2012, Month: 3, Training RMSE: 19.13697032207496, Testing RMSE: 29.955252064507594
Year: 2012, Month: 4, Training RMSE: 16.686305984281667, Testing RMSE: 25.58374871057145
Year: 2012, Month: 5, Training RMSE: 19.138357354694598, Testing RMSE: 31.054776800049684
Year: 2012, Month: 6, Training RMSE: 21.108171643005928, Testing RMSE: 33.3454831933999
Year: 2012, Month: 7, Training RMSE: 14.349525573497726, Testing RMSE: 19.987834663922722
Year: 2012, Month: 8, Training RMSE: 12.747868817794764, Testing RMSE: 18.20004133047791
Year: 2012, Month: 9, Training RMSE: 12.3665470705954, Testing RMSE: 19.68068234352222
Year: 2012, Month: 10, Training RMSE: 25.179040903174286, Testing RMSE: 42.981000106866496
Year: 2012, Month: 11, Training RMSE: 18.739473515065534, Testing RMSE: 23.917122017124942
Year: 2012, Month: 12, Training RMSE: 25.634454039047384, Testing RMSE: 40.40924852475846
Year: 2013, Month: 1, Training RMSE: 49.15600258373044, Testing RMSE: 65.22251062487936
Year: 2013, Month: 2, Training RMSE: 32.828161034420845, Testing RMSE: 48.61523756534911
Year: 2013, Month: 3, Training RMSE: 26.20066128704172, Testing RMSE: 32.86774197775327
Year: 2013, Month: 4, Training RMSE: 14.989885489514455, Testing RMSE: 20.62558817633679
Year: 2013, Month: 5, Training RMSE: 17.916344791649877, Testing RMSE: 27.642850242005235
Year: 2013, Month: 6, Training RMSE: 23.44296569025228, Testing RMSE: 28.441680975438366
Year: 2013, Month: 7, Training RMSE: 14.212770091117385, Testing RMSE: 19.297495108078273
Year: 2013, Month: 8, Training RMSE: 11.92524402531016, Testing RMSE: 15.824588127396682
Year: 2013, Month: 9, Training RMSE: 16.081866684386576, Testing RMSE: 23.238456296132746
Year: 2013, Month: 10, Training RMSE: 22.819942982598064, Testing RMSE: 33.47861556657588
Year: 2013, Month: 11, Training RMSE: 24.52847040591284, Testing RMSE: 33.095114203705236
Year: 2013, Month: 12, Training RMSE: 26.967060698092183, Testing RMSE: 44.46081409582693
Year: 2014, Month: 1, Training RMSE: 32.95969552352978, Testing RMSE: 55.13099245374816
Year: 2014, Month: 2, Training RMSE: 24.709297838075972, Testing RMSE: 39.02760544637933
Year: 2014, Month: 3, Training RMSE: 21.705131792528892, Testing RMSE: 31.043213601450443
Year: 2014, Month: 4, Training RMSE: 23.033095037255315, Testing RMSE: 24.61180782050661
Year: 2014, Month: 5, Training RMSE: 16.59828828046227, Testing RMSE: 23.3222927537964
Year: 2014, Month: 6, Training RMSE: 15.423970991824321, Testing RMSE: 19.997514234941956
Year: 2014, Month: 7, Training RMSE: 13.93452776505643, Testing RMSE: 20.052503122265318
Year: 2014, Month: 8, Training RMSE: 14.408431273686153, Testing RMSE: 26.169789504570012
Year: 2014, Month: 9, Training RMSE: 14.679879365975278, Testing RMSE: 18.94464132700354
Year: 2014, Month: 10, Training RMSE: 20.209668876853314, Testing RMSE: 23.917552444597334
Year: 2014, Month: 11, Training RMSE: 26.412244277889247, Testing RMSE: 33.513743656708805
Year: 2014, Month: 12, Training RMSE: 24.454269584087328, Testing RMSE: 39.50952047849376

In [15]:
prediction_vectors

     Year  Month   Type  Y_True      Y_Pred
0    2010      1  Train   274.0  248.268393
1    2010      1  Train   114.0  130.960433
2    2010      1  Train   213.0  196.823501
3    2010      1  Train    28.0   25.503752
4    2010      1  Train   135.0  114.211887
..    ...    ...    ...     ...         ...
139  2014     12   Test    11.0   22.419623
140  2014     12   Test     9.0   10.262622
141  2014     12   Test   119.0  112.060237
142  2014     12   Test    71.0   62.938050
143  2014     12   Test    15.0   11.155117

[41757 rows x 5 columns]

In [44]:
grouped = prediction_vectors.groupby(['Year', 'Type'])

# Function to calculate RMSE
def calculate_rmse(group):
    return np.sqrt(mean_squared_error(group['Y_True'], group['Y_Pred']))

# Calculate RMSE for each group
yearly_rmse = grouped.apply(calculate_rmse).unstack()
print('annual error by monthly model:')
print(yearly_rmse)

annual error by monthly model:
Type       Test      Train
Year
2010  32.650022  26.209507
2011  32.277414  22.393528
2012  30.790477  22.635599
2013  35.374359  25.372149
2014  31.304605  21.448386

In [41]:
training_results.values()

dict_values([23.424707693696778, 38.19839122688131, 37.9394502114286, 14.375163682205523, 17.651176321054873, 17.41254568148024, 22.30514150697771, 21.45941002453309, 24.520077316650685, 22.722853305048787, 34.55409011383064, 26.23554101098068, 16.35046360923468, 31.538973541367717, 17.24905884582534, 23.29102075866275, 15.845548223829182, 25.64387376278841, 17.947213859531843, 13.696367154956649, 16.733001179702953, 27.512908822096847, 21.712085387293566, 30.84376820669694, 46.105127661290176, 21.38725020344679, 19.13697032207496, 16.686305984281667, 19.138357354694598, 21.108171643005928, 14.349525573497726, 12.747868817794764, 12.3665470705954, 25.179040903174286, 18.739473515065534, 25.634454039047384, 49.15600258373044, 32.828161034420845, 26.20066128704172, 14.989885489514455, 17.916344791649877, 23.44296569025228, 14.212770091117385, 11.92524402531016, 16.081866684386576, 22.819942982598064, 24.52847040591284, 26.967060698092183, 32.95969552352978, 24.709297838075972, 21.705131792528892, 23.033095037255315, 16.59828828046227, 15.423970991824321, 13.93452776505643, 14.408431273686153, 14.679879365975278, 20.209668876853314, 26.412244277889247, 24.454269584087328])

In [31]:
train_data_by_year.items()

dict_items([(2010,         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
620    621  2010      1   26    20  274.0   -11  -5.0  1020.0    0.89   0   0
367    368  2010      1   16     7  114.0   -15 -11.0  1034.0    4.47   0   0
627    628  2010      1   27     3  213.0   -11  -4.0  1016.0   10.29   0   0
90      91  2010      1    4    18   28.0   -23 -11.0  1032.0  165.37   0   0
178    179  2010      1    8    10  135.0   -17 -10.0  1030.0    0.89   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
8436  8437  2010     12   18    12  206.0   -13   3.0  1012.0    1.79   0   0
8145  8146  2010     12    6     9   15.0   -18   0.0  1035.0  193.97   0   0
8301  8302  2010     12   12    21  140.0    -7   0.0  1023.0    2.23   0   0
8501  8502  2010     12   21     5  367.0   -10  -5.0  1013.0    1.79   0   0
8498  8499  2010     12   21     2  391.0   -10  -4.0  1014.0    3.57   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
620         1        0        0        0
367         0        1        0        0
627         0        1        0        0
90          0        1        0        0
178         1        0        0        0
...       ...      ...      ...      ...
8436        0        1        0        0
8145        0        1        0        0
8301        0        0        0        1
8501        0        1        0        0
8498        1        0        0        0

[6468 rows x 16 columns]), (2011,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  \
9492    9493  2011      1   31    12   23.0   -21   6.0  1029.0   26.37   0
9474    9475  2011      1   30    18   16.0   -21   2.0  1031.0  198.93   0
9379    9380  2011      1   26    19  103.0   -19  -7.0  1038.0    3.57   0
9274    9275  2011      1   22    10   54.0   -17  -4.0  1029.0    4.02   0
8809    8810  2011      1    3     1   78.0   -15  -6.0  1033.0    1.78   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..
17196  17197  2011     12   18    12   35.0   -20   1.0  1033.0    1.79   0
16905  16906  2011     12    6     9  181.0     0   0.0  1032.0   16.10   0
17061  17062  2011     12   12    21   62.0    -4   0.0  1030.0   17.89   0
17261  17262  2011     12   21     5   11.0   -15  -6.0  1027.0    0.89   0
17258  17259  2011     12   21     2   81.0   -13  -8.0  1028.0    1.78   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
9492    0        0        1        0        0
9474    0        0        1        0        0
9379    0        1        0        0        0
9274    0        1        0        0        0
8809    0        1        0        0        0
...    ..      ...      ...      ...      ...
17196   0        0        1        0        0
16905   0        0        1        0        0
17061   0        0        0        1        0
17261   0        0        0        0        1
17258   0        0        0        0        1

[6420 rows x 16 columns]), (2012,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  \
17803  17804  2012      1   12    19  144.0   -13  -3.0  1025.0   1.35   0
18255  18256  2012      1   31    15   23.0   -25  -2.0  1024.0  43.36   0
17971  17972  2012      1   19    19  436.0    -7  -4.0  1029.0   4.45   0
17545  17546  2012      1    2     1   97.0   -10  -4.0  1030.0  12.07   0
18098  18099  2012      1   25     2   61.0   -23 -12.0  1026.0   3.57   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..
25981  25982  2012     12   18    13   29.0   -16  -3.0  1035.0   1.79   0
25689  25690  2012     12    6     9   42.0   -13  -9.0  1023.0   0.89   0
25846  25847  2012     12   12    22  290.0    -4  -3.0  1028.0   0.45   0
26047  26048  2012     12   21     7  280.0    -9  -8.0  1027.0  13.41   0
26044  26045  2012     12   21     4  303.0    -8  -7.0  1026.0   5.36   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
17803   0        0        0        0        1
18255   0        1        0        0        0
17971   0        0        0        1        0
17545   0        0        0        1        0
18098   0        0        1        0        0
...    ..      ...      ...      ...      ...
25981   0        0        0        1        0
25689   0        0        0        0        1
25846   0        0        0        0        1
26047   0        0        1        0        0
26044   0        0        1        0        0

[6633 rows x 16 columns]), (2013,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  \
26451  26452  2013      1    7     3  159.0   -16 -12.0  1025.0   8.05   0
26632  26633  2013      1   14    16  267.0    -6  -1.0  1029.0  12.96   0
27029  27030  2013      1   31     5  213.0    -4  -2.0  1025.0   1.79   0
26784  26785  2013      1   21     0  161.0    -4  -3.0  1030.0   1.79   0
26799  26800  2013      1   21    15   88.0    -7   4.0  1028.0  14.31   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..
34740  34741  2013     12   18    12   19.0   -23   1.0  1032.0  23.24   0
34449  34450  2013     12    6     9  138.0   -10   2.0  1021.0   0.89   0
34605  34606  2013     12   12    21   12.0   -24  -6.0  1025.0   1.78   0
34807  34808  2013     12   21     7   28.0   -18  -8.0  1036.0   8.05   0
34804  34805  2013     12   21     4   17.0   -19  -5.0  1037.0  21.00   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
26451   0        0        1        0        0
26632   0        0        0        1        0
27029   0        0        1        0        0
26784   0        1        0        0        0
26799   0        1        0        0        0
...    ..      ...      ...      ...      ...
34740   0        0        1        0        0
34449   0        0        0        0        1
34605   0        0        0        0        1
34807   0        0        1        0        0
34804   0        1        0        0        0

[6938 rows x 16 columns]), (2014,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  \
35211  35212  2014      1    7     3  213.0    -7  -4.0  1025.0    0.89   0
35643  35644  2014      1   25     3   60.0   -17  -1.0  1023.0    1.78   0
35782  35783  2014      1   30    22  157.0    -5  -1.0  1020.0   33.53   0
35543  35544  2014      1   20    23   11.0   -20  -1.0  1034.0  284.74   0
35428  35429  2014      1   16     4  671.0    -7  -3.0  1027.0    1.79   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..
43519  43520  2014     12   19     7   66.0   -12   0.0  1023.0   22.35   0
43211  43212  2014     12    6    11   30.0   -20   2.0  1028.0    9.83   0
43384  43385  2014     12   13    16   44.0   -19   4.0  1026.0    8.04   0
43593  43594  2014     12   22     9  145.0   -13  -4.0  1026.0    5.37   0
43590  43591  2014     12   22     6  117.0   -13  -6.0  1024.0    3.13   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
35211   0        0        1        0        0
35643   0        0        0        0        1
35782   0        0        0        1        0
35543   0        0        1        0        0
35428   0        1        0        0        0
...    ..      ...      ...      ...      ...
43519   0        0        1        0        0
43211   0        1        0        0        0
43384   0        0        0        1        0
43593   0        1        0        0        0
43590   0        0        0        1        0

[6923 rows x 16 columns])])

In [34]:
year_training_results = {}
year_testing_results = {}
year_prediction_vectors = pd.DataFrame()
col_drop = ['pm2.5', 'No', 'year']


for year, train_data in train_data_by_year.items():
    test_data = test_data_by_year[year]
    X_train = train_data.drop(col_drop, axis=1)
    y_train = train_data['pm2.5'].to_numpy()
    X_test = test_data.drop(col_drop, axis=1)
    y_test = test_data['pm2.5'].to_numpy()
    
    # Initialize RF+
    rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
    rf_plus_model.fit(X_train, y_train)
    
    # Make predictions and calculate metrics
    train_pred = rf_plus_model.predict(X_train)
    test_pred = rf_plus_model.predict(X_test)
    train_rmse = mean_squared_error(y_train, train_pred, squared=False)
    test_rmse = mean_squared_error(y_test, test_pred, squared=False)
    
    # Store and print results
    year_training_results[year] = train_rmse
    year_testing_results[year] = test_rmse
    train_df = pd.DataFrame({'Year': year, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
    test_df = pd.DataFrame({'Year': year, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})
    year_prediction_vectors = pd.concat([year_prediction_vectors, train_df, test_df])
    print(f"Year: {year}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

Year: 2010, Training RMSE: 28.161938275508252, Testing RMSE: 36.01119332101772
Year: 2011, Training RMSE: 24.589363083306257, Testing RMSE: 36.180777593499755
Year: 2012, Training RMSE: 25.260428825639117, Testing RMSE: 34.99107699110881
Year: 2013, Training RMSE: 26.649158251502943, Testing RMSE: 37.09343560863756
Year: 2014, Training RMSE: 22.720241260005963, Testing RMSE: 33.53610464003447

In [19]:
year_prediction_vectors

NameError: name 'year_prediction_vectors' is not defined

In [16]:
train_data_full

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
620,621,2010,1,26,20,274.0,-11,-5.0,1020.0,0.89,0,0,1,0,0,0
367,368,2010,1,16,7,114.0,-15,-11.0,1034.0,4.47,0,0,0,1,0,0
627,628,2010,1,27,3,213.0,-11,-4.0,1016.0,10.29,0,0,0,1,0,0
90,91,2010,1,4,18,28.0,-23,-11.0,1032.0,165.37,0,0,0,1,0,0
178,179,2010,1,8,10,135.0,-17,-10.0,1030.0,0.89,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43519,43520,2014,12,19,7,66.0,-12,0.0,1023.0,22.35,0,0,0,1,0,0
43211,43212,2014,12,6,11,30.0,-20,2.0,1028.0,9.83,0,0,1,0,0,0
43384,43385,2014,12,13,16,44.0,-19,4.0,1026.0,8.04,0,0,0,0,1,0
43593,43594,2014,12,22,9,145.0,-13,-4.0,1026.0,5.37,0,0,1,0,0,0
43590,43591,2014,12,22,6,117.0,-13,-6.0,1024.0,3.13,0,0,0,0,1,0

In [17]:
test_data_full

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
264,265,2010,1,12,0,21.0,-22,-15.0,1031.0,1.78,0,0,0,0,0,1
487,488,2010,1,21,7,18.0,-25,-9.0,1038.0,138.10,0,0,0,1,0,0
528,529,2010,1,23,0,49.0,-17,-4.0,1033.0,172.08,0,0,0,1,0,0
438,439,2010,1,19,6,330.0,-4,-1.0,1021.0,12.07,0,0,0,1,0,0
685,686,2010,1,29,13,12.0,-24,5.0,1022.0,50.07,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43193,43194,2014,12,5,17,11.0,-22,0.0,1025.0,1.79,0,0,1,0,0,0
43189,43190,2014,12,5,13,9.0,-23,3.0,1026.0,36.20,0,0,0,1,0,0
43221,43222,2014,12,6,21,119.0,-14,0.0,1026.0,0.89,0,0,0,0,0,1
43216,43217,2014,12,6,16,71.0,-18,2.0,1025.0,5.37,0,0,0,0,1,0
43102,43103,2014,12,1,22,15.0,-22,-5.0,1034.0,385.35,0,0,0,1,0,0

In [20]:
start = datetime.now()
col_drop = ['pm2.5', 'No']
train_data= train_data_full
test_data = test_data_full
X_train = train_data.drop(col_drop, axis=1)
y_train = train_data['pm2.5'].to_numpy()
X_test = test_data.drop(col_drop, axis=1)
y_test = test_data['pm2.5'].to_numpy()

# Initialize RF+
rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
rf_plus_model.fit(X_train, y_train)




end = datetime.now()
end-start

datetime.timedelta(seconds=15410, microseconds=215831)

In [21]:
# Make predictions and calculate metrics
start = datetime.now()
train_pred = rf_plus_model.predict(X_train)
test_pred = rf_plus_model.predict(X_test)
train_rmse = mean_squared_error(y_train, train_pred, squared=False)
test_rmse = mean_squared_error(y_test, test_pred, squared=False)
end = datetime.now()
end-start

datetime.timedelta(seconds=871, microseconds=306282)

In [22]:
# Store and print results
training_results = train_rmse
testing_results= test_rmse

In [ ]:
train_df = pd.DataFrame({'Year': year, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
test_df = pd.DataFrame({'Year': year, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})
year_prediction_vectors = pd.concat([year_prediction_vectors, train_df, test_df])
print(f"Year: {year}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

In [23]:
training_results

27.71042372510132

In [24]:
testing_results

38.62706504633146

In [25]:
import pickle

# Assume 'model' is your trained model
with open('RFPlus_full.pkl', 'wb') as file:
    pickle.dump(rf_plus_model, file)

PicklingError: Can't pickle <function _GlmPPM.<lambda> at 0x000001A3D71E2680>: attribute lookup _GlmPPM.<lambda> on imodels.importance.ppms failed