In [ ]:
# pip install imodels

In [1]:
import pandas as pd
import numpy as np
import datetime
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import r2_score, mean_absolute_error, accuracy_score, roc_auc_score
from sklearn.metrics import mean_squared_error
from datetime import datetime
from datetime import timedelta
from imodels.importance import RandomForestPlusRegressor, RandomForestPlusClassifier, \
    RidgeRegressorPPM, LassoRegressorPPM, IdentityTransformer
from imodels.importance.rf_plus import _fast_r2_score

In [2]:
import multiprocessing
multiprocessing.cpu_count()

12

In [3]:
data = pd.read_csv('PRSA_data_2010.1.1-2014.12.31_1.csv', header=0)

In [4]:
data = data.dropna()

In [5]:

def neg_mae(y_true, y_pred, **kwargs):
    """
    Evaluates negative mean absolute error
    """
    return -mean_absolute_error(y_true, y_pred, **kwargs)

In [13]:
rf_regressor = RandomForestRegressor(n_estimators=50,
                                     min_samples_leaf=3, random_state=331,n_jobs=-1)
rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)

In [276]:
paper_rmse_2010 = np.array([10.07,34.86,13.58,4.55,10.86,11,16,9.9,28.44,21.45,41,23.83])
paper_rmse_2011 = np.array([8.26,24.5,8.02,11.17,6.94,20.15,16.99,21.48,26.36,20.37,25.35,11.85])
paper_rmse_2012 = np.array([8.44,13.22,14.41,11.36,20.13,15.48,16.84,21.19,11.7,30.96,30.38,5.81])
paper_rmse_2013 = np.array([36.74,25.44,16.26,6.24,13.75,16.37,11.89,9.11,21.38,20.41,19.41,22.72])
paper_rmse_2014 = np.array([26.34,14.83,9.44,13.67,10.44,9.64,13.76,14.31,10.74,28.11,23.78,23.18])

In [6]:
data
data = data.dropna()

In [6]:
# wind_direction_mapping = {
#     'NW': 1,
#     'NE': 2,
#     'SE': 3,
#     'cv': 4
# }

# # Replace the string categories with the numeric values
# data['cbwd'] = data['cbwd'].replace(wind_direction_mapping)

In [7]:
data = pd.get_dummies(data)

In [8]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,1.79,0,0,0,0,1,0
25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,2.68,0,0,0,0,1,0
26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,3.57,0,0,0,0,1,0
27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,5.36,1,0,0,0,1,0
28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,6.25,2,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,231.97,0,0,0,1,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,237.78,0,0,0,1,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,242.70,0,0,0,1,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,246.72,0,0,0,1,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,249.85,0,0,0,1,0,0

In [9]:
train_data_by_month, test_data_by_month = {}, {}
train_data_by_year, test_data_by_year = {}, {}

# Splitting data for each month (month-year combination) separately
for year in data['year'].unique():
    for month in data['month'].unique():
        month_year_data = data[(data['year'] == year) & (data['month'] == month)]
        train_data_by_month[(year, month)], test_data_by_month[(year, month)] = train_test_split(month_year_data,
                                                                                                 test_size=0.2, random_state=12345)

# Combine the monthly splits into yearly splits
for year in data['year'].unique():
    yearly_train_data = pd.concat([train_data_by_month[(year, month)] for month in data['month'].unique()])
    yearly_test_data = pd.concat([test_data_by_month[(year, month)] for month in data['month'].unique()])
    train_data_by_year[year] = yearly_train_data
    test_data_by_year[year] = yearly_test_data

# Combine all monthly splits into a single dataset for full range modeling
train_data_full = pd.concat(train_data_by_month.values())
test_data_full = pd.concat(test_data_by_month.values())

In [10]:
train_data_by_year.items()

dict_items([(2010,         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  Ir  \
620    621  2010      1   26    20  274.0   -11  -5.0  1020.0    0.89   0   0
367    368  2010      1   16     7  114.0   -15 -11.0  1034.0    4.47   0   0
627    628  2010      1   27     3  213.0   -11  -4.0  1016.0   10.29   0   0
90      91  2010      1    4    18   28.0   -23 -11.0  1032.0  165.37   0   0
178    179  2010      1    8    10  135.0   -17 -10.0  1030.0    0.89   0   0
...    ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..  ..
8436  8437  2010     12   18    12  206.0   -13   3.0  1012.0    1.79   0   0
8145  8146  2010     12    6     9   15.0   -18   0.0  1035.0  193.97   0   0
8301  8302  2010     12   12    21  140.0    -7   0.0  1023.0    2.23   0   0
8501  8502  2010     12   21     5  367.0   -10  -5.0  1013.0    1.79   0   0
8498  8499  2010     12   21     2  391.0   -10  -4.0  1014.0    3.57   0   0

      cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
620         1        0        0        0
367         0        1        0        0
627         0        1        0        0
90          0        1        0        0
178         1        0        0        0
...       ...      ...      ...      ...
8436        0        1        0        0
8145        0        1        0        0
8301        0        0        0        1
8501        0        1        0        0
8498        1        0        0        0

[6468 rows x 16 columns]), (2011,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  \
9492    9493  2011      1   31    12   23.0   -21   6.0  1029.0   26.37   0
9474    9475  2011      1   30    18   16.0   -21   2.0  1031.0  198.93   0
9379    9380  2011      1   26    19  103.0   -19  -7.0  1038.0    3.57   0
9274    9275  2011      1   22    10   54.0   -17  -4.0  1029.0    4.02   0
8809    8810  2011      1    3     1   78.0   -15  -6.0  1033.0    1.78   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..
17196  17197  2011     12   18    12   35.0   -20   1.0  1033.0    1.79   0
16905  16906  2011     12    6     9  181.0     0   0.0  1032.0   16.10   0
17061  17062  2011     12   12    21   62.0    -4   0.0  1030.0   17.89   0
17261  17262  2011     12   21     5   11.0   -15  -6.0  1027.0    0.89   0
17258  17259  2011     12   21     2   81.0   -13  -8.0  1028.0    1.78   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
9492    0        0        1        0        0
9474    0        0        1        0        0
9379    0        1        0        0        0
9274    0        1        0        0        0
8809    0        1        0        0        0
...    ..      ...      ...      ...      ...
17196   0        0        1        0        0
16905   0        0        1        0        0
17061   0        0        0        1        0
17261   0        0        0        0        1
17258   0        0        0        0        1

[6420 rows x 16 columns]), (2012,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  \
17803  17804  2012      1   12    19  144.0   -13  -3.0  1025.0   1.35   0
18255  18256  2012      1   31    15   23.0   -25  -2.0  1024.0  43.36   0
17971  17972  2012      1   19    19  436.0    -7  -4.0  1029.0   4.45   0
17545  17546  2012      1    2     1   97.0   -10  -4.0  1030.0  12.07   0
18098  18099  2012      1   25     2   61.0   -23 -12.0  1026.0   3.57   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..
25981  25982  2012     12   18    13   29.0   -16  -3.0  1035.0   1.79   0
25689  25690  2012     12    6     9   42.0   -13  -9.0  1023.0   0.89   0
25846  25847  2012     12   12    22  290.0    -4  -3.0  1028.0   0.45   0
26047  26048  2012     12   21     7  280.0    -9  -8.0  1027.0  13.41   0
26044  26045  2012     12   21     4  303.0    -8  -7.0  1026.0   5.36   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
17803   0        0        0        0        1
18255   0        1        0        0        0
17971   0        0        0        1        0
17545   0        0        0        1        0
18098   0        0        1        0        0
...    ..      ...      ...      ...      ...
25981   0        0        0        1        0
25689   0        0        0        0        1
25846   0        0        0        0        1
26047   0        0        1        0        0
26044   0        0        1        0        0

[6633 rows x 16 columns]), (2013,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES    Iws  Is  \
26451  26452  2013      1    7     3  159.0   -16 -12.0  1025.0   8.05   0
26632  26633  2013      1   14    16  267.0    -6  -1.0  1029.0  12.96   0
27029  27030  2013      1   31     5  213.0    -4  -2.0  1025.0   1.79   0
26784  26785  2013      1   21     0  161.0    -4  -3.0  1030.0   1.79   0
26799  26800  2013      1   21    15   88.0    -7   4.0  1028.0  14.31   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...    ...  ..
34740  34741  2013     12   18    12   19.0   -23   1.0  1032.0  23.24   0
34449  34450  2013     12    6     9  138.0   -10   2.0  1021.0   0.89   0
34605  34606  2013     12   12    21   12.0   -24  -6.0  1025.0   1.78   0
34807  34808  2013     12   21     7   28.0   -18  -8.0  1036.0   8.05   0
34804  34805  2013     12   21     4   17.0   -19  -5.0  1037.0  21.00   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
26451   0        0        1        0        0
26632   0        0        0        1        0
27029   0        0        1        0        0
26784   0        1        0        0        0
26799   0        1        0        0        0
...    ..      ...      ...      ...      ...
34740   0        0        1        0        0
34449   0        0        0        0        1
34605   0        0        0        0        1
34807   0        0        1        0        0
34804   0        1        0        0        0

[6938 rows x 16 columns]), (2014,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES     Iws  Is  \
35211  35212  2014      1    7     3  213.0    -7  -4.0  1025.0    0.89   0
35643  35644  2014      1   25     3   60.0   -17  -1.0  1023.0    1.78   0
35782  35783  2014      1   30    22  157.0    -5  -1.0  1020.0   33.53   0
35543  35544  2014      1   20    23   11.0   -20  -1.0  1034.0  284.74   0
35428  35429  2014      1   16     4  671.0    -7  -3.0  1027.0    1.79   0
...      ...   ...    ...  ...   ...    ...   ...   ...     ...     ...  ..
43519  43520  2014     12   19     7   66.0   -12   0.0  1023.0   22.35   0
43211  43212  2014     12    6    11   30.0   -20   2.0  1028.0    9.83   0
43384  43385  2014     12   13    16   44.0   -19   4.0  1026.0    8.04   0
43593  43594  2014     12   22     9  145.0   -13  -4.0  1026.0    5.37   0
43590  43591  2014     12   22     6  117.0   -13  -6.0  1024.0    3.13   0

       Ir  cbwd_NE  cbwd_NW  cbwd_SE  cbwd_cv
35211   0        0        1        0        0
35643   0        0        0        0        1
35782   0        0        0        1        0
35543   0        0        1        0        0
35428   0        1        0        0        0
...    ..      ...      ...      ...      ...
43519   0        0        1        0        0
43211   0        1        0        0        0
43384   0        0        0        1        0
43593   0        1        0        0        0
43590   0        0        0        1        0

[6923 rows x 16 columns])])

In [11]:
test_data_by_month.keys()

dict_keys([(2010, 1), (2010, 2), (2010, 3), (2010, 4), (2010, 5), (2010, 6), (2010, 7), (2010, 8), (2010, 9), (2010, 10), (2010, 11), (2010, 12), (2011, 1), (2011, 2), (2011, 3), (2011, 4), (2011, 5), (2011, 6), (2011, 7), (2011, 8), (2011, 9), (2011, 10), (2011, 11), (2011, 12), (2012, 1), (2012, 2), (2012, 3), (2012, 4), (2012, 5), (2012, 6), (2012, 7), (2012, 8), (2012, 9), (2012, 10), (2012, 11), (2012, 12), (2013, 1), (2013, 2), (2013, 3), (2013, 4), (2013, 5), (2013, 6), (2013, 7), (2013, 8), (2013, 9), (2013, 10), (2013, 11), (2013, 12), (2014, 1), (2014, 2), (2014, 3), (2014, 4), (2014, 5), (2014, 6), (2014, 7), (2014, 8), (2014, 9), (2014, 10), (2014, 11), (2014, 12)])

In [12]:
rf_regressor = RandomForestRegressor(n_estimators=50,min_samples_leaf=3,
                                     random_state=331,n_jobs=-1)
rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)

In [12]:
training_results = {}
testing_results = {}
prediction_vectors = pd.DataFrame()
col_drop = ['pm2.5', 'No','year', 'month','day','hour']
for (year, month), train_data in train_data_by_month.items():
    test_data = test_data_by_month[(year, month)]


    X_train = train_data.drop(col_drop, axis=1)
    y_train = train_data['pm2.5'].to_numpy()
    X_test = test_data.drop(col_drop, axis=1)
    y_test = test_data['pm2.5'].to_numpy()
    
    # Initialize RF+
    rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
    rf_plus_model.fit(X_train, y_train)
    
    # predictions
    train_pred = rf_plus_model.predict(X_train)
    test_pred = rf_plus_model.predict(X_test)

    # Calculate RMSE
    train_rmse = mean_squared_error(y_train, train_pred, squared=False)
    test_rmse = mean_squared_error(y_test, test_pred, squared=False)
    training_results[(year, month)] = train_rmse
    testing_results[(year, month)] = test_rmse

    # store in dataframe
    train_df = pd.DataFrame({'Year': year, 'Month': month, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
    test_df = pd.DataFrame({'Year': year, 'Month': month, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})

    # Concatenate with the main DataFrame
    prediction_vectors = pd.concat([prediction_vectors, train_df, test_df])

    # Print results for each month
    print(f"Year: {year}, Month: {month}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

# Results include: training_results, testing_results, and prediction_vectors

Year: 2010, Month: 1, Training RMSE: 28.06219855087765, Testing RMSE: 38.5537193022401
Year: 2010, Month: 2, Training RMSE: 49.90216708371103, Testing RMSE: 45.96970711472546
Year: 2010, Month: 3, Training RMSE: 41.876150308165116, Testing RMSE: 35.11032099853313
Year: 2010, Month: 4, Training RMSE: 23.52082546717038, Testing RMSE: 36.57962792668829
Year: 2010, Month: 5, Training RMSE: 26.138660662411638, Testing RMSE: 43.69078244426372
Year: 2010, Month: 6, Training RMSE: 26.07220946324403, Testing RMSE: 34.43549480064791
Year: 2010, Month: 7, Training RMSE: 27.834940438810776, Testing RMSE: 42.57616623000923
Year: 2010, Month: 8, Training RMSE: 26.142778186787424, Testing RMSE: 37.95325033359249
Year: 2010, Month: 9, Training RMSE: 46.74668741672338, Testing RMSE: 60.63116773832421
Year: 2010, Month: 10, Training RMSE: 36.08362265185624, Testing RMSE: 49.53423750705735
Year: 2010, Month: 11, Training RMSE: 63.189952267774935, Testing RMSE: 75.28540373196424
Year: 2010, Month: 12, Training RMSE: 39.83690227974915, Testing RMSE: 45.810409519722015
Year: 2011, Month: 1, Training RMSE: 18.636261571446365, Testing RMSE: 30.211596484230295
Year: 2011, Month: 2, Training RMSE: 52.084098730431954, Testing RMSE: 69.70252176781793
Year: 2011, Month: 3, Training RMSE: 19.078167084319833, Testing RMSE: 18.517432594672464
Year: 2011, Month: 4, Training RMSE: 32.55371720922852, Testing RMSE: 46.84858823130903
Year: 2011, Month: 5, Training RMSE: 19.360504581297395, Testing RMSE: 28.61613927659492
Year: 2011, Month: 6, Training RMSE: 32.07809719479406, Testing RMSE: 41.942407854157686
Year: 2011, Month: 7, Training RMSE: 31.351720328729897, Testing RMSE: 48.40196670908388
Year: 2011, Month: 8, Training RMSE: 30.04331664135062, Testing RMSE: 44.11676992307924
Year: 2011, Month: 9, Training RMSE: 43.91636977657398, Testing RMSE: 59.986851958339194
Year: 2011, Month: 10, Training RMSE: 37.05155034114965, Testing RMSE: 54.5821311687089
Year: 2011, Month: 11, Training RMSE: 36.6131250206199, Testing RMSE: 63.6509387779588
Year: 2011, Month: 12, Training RMSE: 37.34731173990122, Testing RMSE: 46.09084548698601
Year: 2012, Month: 1, Training RMSE: 56.77729084156379, Testing RMSE: 58.54726006539311
Year: 2012, Month: 2, Training RMSE: 25.93228977280587, Testing RMSE: 31.858678236891425
Year: 2012, Month: 3, Training RMSE: 26.4447920732958, Testing RMSE: 39.7805373958504
Year: 2012, Month: 4, Training RMSE: 24.45386208578873, Testing RMSE: 36.759089785378706
Year: 2012, Month: 5, Training RMSE: 26.546622225304503, Testing RMSE: 38.81514729086322
Year: 2012, Month: 6, Training RMSE: 33.887343895231226, Testing RMSE: 46.42372247822353
Year: 2012, Month: 7, Training RMSE: 27.398630426386116, Testing RMSE: 34.91970246979308
Year: 2012, Month: 8, Training RMSE: 34.45903046742415, Testing RMSE: 43.292749252821565
Year: 2012, Month: 9, Training RMSE: 17.474897117302643, Testing RMSE: 24.1908445476316
Year: 2012, Month: 10, Training RMSE: 41.691658868826536, Testing RMSE: 58.45763838640736
Year: 2012, Month: 11, Training RMSE: 36.995910243955045, Testing RMSE: 46.575166058478125
Year: 2012, Month: 12, Training RMSE: 28.84811081443199, Testing RMSE: 45.362460997234976
Year: 2013, Month: 1, Training RMSE: 68.10412775713843, Testing RMSE: 80.4085034014705
Year: 2013, Month: 2, Training RMSE: 48.27418637581725, Testing RMSE: 64.64339253366057
Year: 2013, Month: 3, Training RMSE: 37.1238889709738, Testing RMSE: 47.70549404839518
Year: 2013, Month: 4, Training RMSE: 20.27888948452465, Testing RMSE: 26.742734008643307
Year: 2013, Month: 5, Training RMSE: 24.22685409268405, Testing RMSE: 36.56898390109365
Year: 2013, Month: 6, Training RMSE: 34.93282390345045, Testing RMSE: 39.52957256849879
Year: 2013, Month: 7, Training RMSE: 20.51080613611921, Testing RMSE: 26.0577445845252
Year: 2013, Month: 8, Training RMSE: 14.829010967607164, Testing RMSE: 19.373092284077256
Year: 2013, Month: 9, Training RMSE: 32.87733493399166, Testing RMSE: 40.049176488424926
Year: 2013, Month: 10, Training RMSE: 48.37697645051142, Testing RMSE: 52.12029797654122
Year: 2013, Month: 11, Training RMSE: 33.069262324628774, Testing RMSE: 41.94549902009921
Year: 2013, Month: 12, Training RMSE: 31.887876243648662, Testing RMSE: 50.21385989272815
Year: 2014, Month: 1, Training RMSE: 56.29186683048487, Testing RMSE: 83.61878307251939
Year: 2014, Month: 2, Training RMSE: 49.66562212845513, Testing RMSE: 66.50298131796477
Year: 2014, Month: 3, Training RMSE: 40.04212081725237, Testing RMSE: 53.58161941477168
Year: 2014, Month: 4, Training RMSE: 34.11004261484812, Testing RMSE: 38.28337583378586
Year: 2014, Month: 5, Training RMSE: 22.836872634661663, Testing RMSE: 30.99190769141777
Year: 2014, Month: 6, Training RMSE: 20.128841342939833, Testing RMSE: 22.46622833462878
Year: 2014, Month: 7, Training RMSE: 23.659889355812673, Testing RMSE: 26.87187893662552
Year: 2014, Month: 8, Training RMSE: 20.0635359751303, Testing RMSE: 30.39715067676133
Year: 2014, Month: 9, Training RMSE: 24.973773697868918, Testing RMSE: 28.632147624434133
Year: 2014, Month: 10, Training RMSE: 49.58221900341843, Testing RMSE: 64.69474655940914
Year: 2014, Month: 11, Training RMSE: 43.51528871525344, Testing RMSE: 67.83282888298632
Year: 2014, Month: 12, Training RMSE: 32.45683096408696, Testing RMSE: 53.816723045044114

In [13]:
prediction_vectors

     Year  Month   Type  Y_True      Y_Pred
0    2010      1  Train   274.0  250.523225
1    2010      1  Train   114.0  132.196807
2    2010      1  Train   213.0  177.300678
3    2010      1  Train    28.0   26.619246
4    2010      1  Train   135.0  121.686668
..    ...    ...    ...     ...         ...
139  2014     12   Test    11.0   22.987379
140  2014     12   Test     9.0    8.285277
141  2014     12   Test   119.0   98.909549
142  2014     12   Test    71.0   69.219733
143  2014     12   Test    15.0    6.618571

[41757 rows x 5 columns]

In [14]:
grouped = prediction_vectors.groupby(['Year', 'Type'])

# Function to calculate RMSE
def calculate_rmse(group):
    return np.sqrt(mean_squared_error(group['Y_True'], group['Y_Pred']))

# Calculate RMSE for each group
yearly_rmse = grouped.apply(calculate_rmse).unstack()
print('annual error by monthly model:')
print(yearly_rmse)

annual error by monthly model:
Type       Test      Train
Year
2010  46.490575  37.819589
2011  48.437741  34.064595
2012  43.135437  33.119752
2013  46.658585  37.343240
2014  51.079089  36.839085

In [15]:
training_results.values()

dict_values([28.06219855087765, 49.90216708371103, 41.876150308165116, 23.52082546717038, 26.138660662411638, 26.07220946324403, 27.834940438810776, 26.142778186787424, 46.74668741672338, 36.08362265185624, 63.189952267774935, 39.83690227974915, 18.636261571446365, 52.084098730431954, 19.078167084319833, 32.55371720922852, 19.360504581297395, 32.07809719479406, 31.351720328729897, 30.04331664135062, 43.91636977657398, 37.05155034114965, 36.6131250206199, 37.34731173990122, 56.77729084156379, 25.93228977280587, 26.4447920732958, 24.45386208578873, 26.546622225304503, 33.887343895231226, 27.398630426386116, 34.45903046742415, 17.474897117302643, 41.691658868826536, 36.995910243955045, 28.84811081443199, 68.10412775713843, 48.27418637581725, 37.1238889709738, 20.27888948452465, 24.22685409268405, 34.93282390345045, 20.51080613611921, 14.829010967607164, 32.87733493399166, 48.37697645051142, 33.069262324628774, 31.887876243648662, 56.29186683048487, 49.66562212845513, 40.04212081725237, 34.11004261484812, 22.836872634661663, 20.128841342939833, 23.659889355812673, 20.0635359751303, 24.973773697868918, 49.58221900341843, 43.51528871525344, 32.45683096408696])

In [16]:
train_data_by_year.items()

dict_items([(2010,         No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  \
620    621  2010      1   26    20  274.0   -11  -5.0  1020.0     2    0.89
367    368  2010      1   16     7  114.0   -15 -11.0  1034.0     1    4.47
627    628  2010      1   27     3  213.0   -11  -4.0  1016.0     1   10.29
90      91  2010      1    4    18   28.0   -23 -11.0  1032.0     1  165.37
178    179  2010      1    8    10  135.0   -17 -10.0  1030.0     2    0.89
...    ...   ...    ...  ...   ...    ...   ...   ...     ...   ...     ...
8436  8437  2010     12   18    12  206.0   -13   3.0  1012.0     1    1.79
8145  8146  2010     12    6     9   15.0   -18   0.0  1035.0     1  193.97
8301  8302  2010     12   12    21  140.0    -7   0.0  1023.0     4    2.23
8501  8502  2010     12   21     5  367.0   -10  -5.0  1013.0     1    1.79
8498  8499  2010     12   21     2  391.0   -10  -4.0  1014.0     2    3.57

      Is  Ir
620    0   0
367    0   0
627    0   0
90     0   0
178    0   0
...   ..  ..
8436   0   0
8145   0   0
8301   0   0
8501   0   0
8498   0   0

[6468 rows x 13 columns]), (2011,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  \
9492    9493  2011      1   31    12   23.0   -21   6.0  1029.0     1   26.37
9474    9475  2011      1   30    18   16.0   -21   2.0  1031.0     1  198.93
9379    9380  2011      1   26    19  103.0   -19  -7.0  1038.0     2    3.57
9274    9275  2011      1   22    10   54.0   -17  -4.0  1029.0     2    4.02
8809    8810  2011      1    3     1   78.0   -15  -6.0  1033.0     2    1.78
...      ...   ...    ...  ...   ...    ...   ...   ...     ...   ...     ...
17196  17197  2011     12   18    12   35.0   -20   1.0  1033.0     1    1.79
16905  16906  2011     12    6     9  181.0     0   0.0  1032.0     1   16.10
17061  17062  2011     12   12    21   62.0    -4   0.0  1030.0     3   17.89
17261  17262  2011     12   21     5   11.0   -15  -6.0  1027.0     4    0.89
17258  17259  2011     12   21     2   81.0   -13  -8.0  1028.0     4    1.78

       Is  Ir
9492    0   0
9474    0   0
9379    0   0
9274    0   0
8809    0   0
...    ..  ..
17196   0   0
16905   0   0
17061   0   0
17261   0   0
17258   0   0

[6420 rows x 13 columns]), (2012,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd    Iws  \
17803  17804  2012      1   12    19  144.0   -13  -3.0  1025.0     4   1.35
18255  18256  2012      1   31    15   23.0   -25  -2.0  1024.0     2  43.36
17971  17972  2012      1   19    19  436.0    -7  -4.0  1029.0     3   4.45
17545  17546  2012      1    2     1   97.0   -10  -4.0  1030.0     3  12.07
18098  18099  2012      1   25     2   61.0   -23 -12.0  1026.0     1   3.57
...      ...   ...    ...  ...   ...    ...   ...   ...     ...   ...    ...
25981  25982  2012     12   18    13   29.0   -16  -3.0  1035.0     3   1.79
25689  25690  2012     12    6     9   42.0   -13  -9.0  1023.0     4   0.89
25846  25847  2012     12   12    22  290.0    -4  -3.0  1028.0     4   0.45
26047  26048  2012     12   21     7  280.0    -9  -8.0  1027.0     1  13.41
26044  26045  2012     12   21     4  303.0    -8  -7.0  1026.0     1   5.36

       Is  Ir
17803   0   0
18255   0   0
17971   0   0
17545   0   0
18098   0   0
...    ..  ..
25981   0   0
25689   0   0
25846   0   0
26047   0   0
26044   0   0

[6633 rows x 13 columns]), (2013,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd    Iws  \
26451  26452  2013      1    7     3  159.0   -16 -12.0  1025.0     1   8.05
26632  26633  2013      1   14    16  267.0    -6  -1.0  1029.0     3  12.96
27029  27030  2013      1   31     5  213.0    -4  -2.0  1025.0     1   1.79
26784  26785  2013      1   21     0  161.0    -4  -3.0  1030.0     2   1.79
26799  26800  2013      1   21    15   88.0    -7   4.0  1028.0     2  14.31
...      ...   ...    ...  ...   ...    ...   ...   ...     ...   ...    ...
34740  34741  2013     12   18    12   19.0   -23   1.0  1032.0     1  23.24
34449  34450  2013     12    6     9  138.0   -10   2.0  1021.0     4   0.89
34605  34606  2013     12   12    21   12.0   -24  -6.0  1025.0     4   1.78
34807  34808  2013     12   21     7   28.0   -18  -8.0  1036.0     1   8.05
34804  34805  2013     12   21     4   17.0   -19  -5.0  1037.0     2  21.00

       Is  Ir
26451   0   0
26632   0   0
27029   0   0
26784   0   0
26799   0   0
...    ..  ..
34740   0   0
34449   0   0
34605   0   0
34807   0   0
34804   0   0

[6938 rows x 13 columns]), (2014,           No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  \
35211  35212  2014      1    7     3  213.0    -7  -4.0  1025.0     1    0.89
35643  35644  2014      1   25     3   60.0   -17  -1.0  1023.0     4    1.78
35782  35783  2014      1   30    22  157.0    -5  -1.0  1020.0     3   33.53
35543  35544  2014      1   20    23   11.0   -20  -1.0  1034.0     1  284.74
35428  35429  2014      1   16     4  671.0    -7  -3.0  1027.0     2    1.79
...      ...   ...    ...  ...   ...    ...   ...   ...     ...   ...     ...
43519  43520  2014     12   19     7   66.0   -12   0.0  1023.0     1   22.35
43211  43212  2014     12    6    11   30.0   -20   2.0  1028.0     2    9.83
43384  43385  2014     12   13    16   44.0   -19   4.0  1026.0     3    8.04
43593  43594  2014     12   22     9  145.0   -13  -4.0  1026.0     2    5.37
43590  43591  2014     12   22     6  117.0   -13  -6.0  1024.0     3    3.13

       Is  Ir
35211   0   0
35643   0   0
35782   0   0
35543   0   0
35428   0   0
...    ..  ..
43519   0   0
43211   0   0
43384   0   0
43593   0   0
43590   0   0

[6923 rows x 13 columns])])

In [17]:
year_training_results = {}
year_testing_results = {}
year_prediction_vectors = pd.DataFrame()
col_drop =['pm2.5', 'No','year', 'month','day','hour']


for year, train_data in train_data_by_year.items():
    test_data = test_data_by_year[year]
    X_train = train_data.drop(col_drop, axis=1)
    y_train = train_data['pm2.5'].to_numpy()
    X_test = test_data.drop(col_drop, axis=1)
    y_test = test_data['pm2.5'].to_numpy()
    
    # Initialize RF+
    rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
    rf_plus_model.fit(X_train, y_train)
    
    # Make predictions and calculate metrics
    train_pred = rf_plus_model.predict(X_train)
    test_pred = rf_plus_model.predict(X_test)
    train_rmse = mean_squared_error(y_train, train_pred, squared=False)
    test_rmse = mean_squared_error(y_test, test_pred, squared=False)
    
    # Store and print results
    year_training_results[year] = train_rmse
    year_testing_results[year] = test_rmse
    train_df = pd.DataFrame({'Year': year, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
    test_df = pd.DataFrame({'Year': year, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})
    year_prediction_vectors = pd.concat([year_prediction_vectors, train_df, test_df])
    print(f"Year: {year}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

Year: 2010, Training RMSE: 49.20598696618397, Testing RMSE: 58.525477329745
Year: 2011, Training RMSE: 44.691368679383466, Testing RMSE: 58.95753719452501
Year: 2012, Training RMSE: 45.382487163810985, Testing RMSE: 56.10015142212281
Year: 2013, Training RMSE: 50.59292006391516, Testing RMSE: 64.23418292275505
Year: 2014, Training RMSE: 49.14325094620099, Testing RMSE: 66.55011019050096

In [18]:
year_prediction_vectors

      Year   Type  Y_True      Y_Pred
0     2010  Train   274.0  201.337160
1     2010  Train   114.0  140.455175
2     2010  Train   213.0  164.383395
3     2010  Train    28.0   25.224678
4     2010  Train   135.0   98.105788
...    ...    ...     ...         ...
1733  2014   Test    11.0   40.555918
1734  2014   Test     9.0   31.222155
1735  2014   Test   119.0   88.762226
1736  2014   Test    71.0   79.600697
1737  2014   Test    15.0    9.165853

[41757 rows x 4 columns]

In [13]:
train_data_full

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
620,621,2010,1,26,20,274.0,-11,-5.0,1020.0,0.89,0,0,1,0,0,0
367,368,2010,1,16,7,114.0,-15,-11.0,1034.0,4.47,0,0,0,1,0,0
627,628,2010,1,27,3,213.0,-11,-4.0,1016.0,10.29,0,0,0,1,0,0
90,91,2010,1,4,18,28.0,-23,-11.0,1032.0,165.37,0,0,0,1,0,0
178,179,2010,1,8,10,135.0,-17,-10.0,1030.0,0.89,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43519,43520,2014,12,19,7,66.0,-12,0.0,1023.0,22.35,0,0,0,1,0,0
43211,43212,2014,12,6,11,30.0,-20,2.0,1028.0,9.83,0,0,1,0,0,0
43384,43385,2014,12,13,16,44.0,-19,4.0,1026.0,8.04,0,0,0,0,1,0
43593,43594,2014,12,22,9,145.0,-13,-4.0,1026.0,5.37,0,0,1,0,0,0
43590,43591,2014,12,22,6,117.0,-13,-6.0,1024.0,3.13,0,0,0,0,1,0

In [14]:
test_data_full

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir,cbwd_NE,cbwd_NW,cbwd_SE,cbwd_cv
264,265,2010,1,12,0,21.0,-22,-15.0,1031.0,1.78,0,0,0,0,0,1
487,488,2010,1,21,7,18.0,-25,-9.0,1038.0,138.10,0,0,0,1,0,0
528,529,2010,1,23,0,49.0,-17,-4.0,1033.0,172.08,0,0,0,1,0,0
438,439,2010,1,19,6,330.0,-4,-1.0,1021.0,12.07,0,0,0,1,0,0
685,686,2010,1,29,13,12.0,-24,5.0,1022.0,50.07,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43193,43194,2014,12,5,17,11.0,-22,0.0,1025.0,1.79,0,0,1,0,0,0
43189,43190,2014,12,5,13,9.0,-23,3.0,1026.0,36.20,0,0,0,1,0,0
43221,43222,2014,12,6,21,119.0,-14,0.0,1026.0,0.89,0,0,0,0,0,1
43216,43217,2014,12,6,16,71.0,-18,2.0,1025.0,5.37,0,0,0,0,1,0
43102,43103,2014,12,1,22,15.0,-22,-5.0,1034.0,385.35,0,0,0,1,0,0

In [15]:
start = datetime.now()
col_drop = ['pm2.5', 'No','year', 'month','day','hour']
train_data= train_data_full
test_data = test_data_full
X_train = train_data.drop(col_drop, axis=1)
y_train = train_data['pm2.5'].to_numpy()
X_test = test_data.drop(col_drop, axis=1)
y_test = test_data['pm2.5'].to_numpy()

# Initialize RF+
rf_plus_model = RandomForestPlusRegressor(rf_model=rf_regressor)
rf_plus_model.fit(X_train, y_train)




end = datetime.now()
end-start

datetime.timedelta(seconds=16293, microseconds=46490)

In [16]:
# Make predictions and calculate metrics
start = datetime.now()
train_pred = rf_plus_model.predict(X_train)
test_pred = rf_plus_model.predict(X_test)
train_rmse = mean_squared_error(y_train, train_pred, squared=False)
test_rmse = mean_squared_error(y_test, test_pred, squared=False)
end = datetime.now()
end-start

datetime.timedelta(seconds=971, microseconds=840361)

In [17]:
# Store and print results
training_results = train_rmse
testing_results= test_rmse

In [ ]:
# train_df = pd.DataFrame({'Year': year, 'Type': 'Train', 'Y_True': y_train, 'Y_Pred': train_pred})
# test_df = pd.DataFrame({'Year': year, 'Type': 'Test', 'Y_True': y_test, 'Y_Pred': test_pred})
# year_prediction_vectors = pd.concat([year_prediction_vectors, train_df, test_df])
# print(f"Year: {year}, Training RMSE: {train_rmse}, Testing RMSE: {test_rmse}")

In [18]:
training_results

56.349150908453055

In [19]:
testing_results

67.584944329421

In [25]:
import pickle

# Assume 'model' is your trained model
with open('RFPlus_full.pkl', 'wb') as file:
    pickle.dump(rf_plus_model, file)

PicklingError: Can't pickle <function _GlmPPM.<lambda> at 0x000001A3D71E2680>: attribute lookup _GlmPPM.<lambda> on imodels.importance.ppms failed